@page "/error"
@attribute [AllowAnonymous]
<h1>Unable to complete the request</h1><p>The application did not expose sensitive diagnostic information. Use the correlation identifier from the response when requesting support.</p>
